In [1]:
%load_ext sql

In [2]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [3]:
%sql SELECT * FROM airports limit 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('TKI', 'Tokeen Seaplane Base', 'seaplane_base', '57A', '-133.32699585, 55.9370994568', 'TOKEEN', nan, 'NaN', 'US', 'US-AK', 'Tokeen', '57A'),
 ('BKF', 'Lake Brooks Seaplane Base', 'seaplane_base', '5Z9', '-155.77699279785, 58.554798126221', 'No PORT Code (BKF)', 36.0, 'NaN', 'US', 'US-AK', 'Katmai National Park', '5Z9'),
 ('AXB', 'Maxson Airfield', 'small_airport', '89NY', '-75.90034, 44.312002', 'ALEXANDRIA BAY', 340.0, 'NaN', 'US', 'US-NY', 'Alexandria Bay', '89NY'),
 ('FRE', 'Fera/Maringe Airport', 'small_airport', 'NaN', '159.576996, -8.1075', 'FRESNO', nan, 'OC', 'SB', 'SB-IS', 'Fera Island', 'AGGF'),
 ('ANZ', 'Angus Downs Airport', 'small_airport', 'NaN', '132.2748, -25.0325', 'ANZALDUAS', 1724.0, 'OC', 'AU', 'AU-NT', 'Angus Downs Station', 'NaN')]

In [14]:
%sql select count(*) from immigrations;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(2306754,)]

In [13]:
%sql  from ports

 * postgresql://student:***@127.0.0.1/sparkifydb
1320 rows affected.

[]

In [11]:
%sql select count(*) from temperature

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(0,)]

In [20]:
%sql select visatype,count(*) from immigrations group by visatype  order by count(*) desc limit 5

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('WT', 985803),
 ('B2', 867840),
 ('WB', 172412),
 ('B1', 167067),
 ('GMT', 67120)]

In [27]:
%sql select iata, port_city, port_state,count(*) from immigrations i join ports p on p.port_code=i.iata  group by iata, port_city, port_state order by count(*) desc limit 10

 * postgresql://student:***@127.0.0.1/sparkifydb
10 rows affected.

[('NYC', 'NEW YORK', ' NY', 374318),
 ('MIA', 'MIAMI', ' FL', 277355),
 ('LOS', 'LOS ANGELES', ' CA', 238204),
 ('SFR', 'SAN FRANCISCO', ' CA', 131580),
 ('NEW', 'NEWARK/TETERBORO', ' NJ', 127034),
 ('ORL', 'ORLANDO', ' FL', 116442),
 ('HHW', 'HONOLULU', ' HI', 110571),
 ('CHI', 'CHICAGO', ' IL', 98292),
 ('HOU', 'HOUSTON', ' TX', 83856),
 ('FTL', 'FORT LAUDERDALE', ' FL', 76490)]

In [31]:
%sql select max(average_temperature) avg_temp,city from temperature group by city

 * postgresql://student:***@127.0.0.1/sparkifydb
248 rows affected.

[(23.106, 'Corona'),
 (34.379, 'Glendale'),
 (27.751, 'Manchester'),
 (23.106, 'Anaheim'),
 (23.106, 'Escondido'),
 (32.606, 'North Las Vegas'),
 (30.134, 'Miramar'),
 (34.379, 'Tempe'),
 (23.106, 'San Diego'),
 (27.336, 'Burbank'),
 (29.759, 'Lubbock'),
 (31.518, 'Houston'),
 (28.128, 'Rockford'),
 (30.134, 'Coral Springs'),
 (24.511, 'Denver'),
 (30.591, 'Ontario'),
 (25.591, 'Provo'),
 (27.336, 'Torrance'),
 (22.465, 'Fairfield'),
 (27.257, 'West Jordan'),
 (23.106, 'Chula Vista'),
 (27.336, 'Pomona'),
 (18.416, 'Tacoma'),
 (30.833, 'Alexandria'),
 (30.134, 'Hialeah'),
 (24.511, 'Highlands Ranch'),
 (26.773, 'Pueblo'),
 (25.014, 'Modesto'),
 (29.3, 'Cape Coral'),
 (28.313, 'Ann Arbor'),
 (30.362, 'Kansas City'),
 (27.981, 'Lansing'),
 (32.738, 'Tampa'),
 (29.334, 'Aurora'),
 (32.534, 'Birmingham'),
 (31.694, 'Newport News'),
 (28.896, 'Fresno'),
 (18.723, 'Vancouver'),
 (29.832, 'Indianapolis'),
 (27.257, 'Salt Lake City'),
 (32.4, 'Savannah'),
 (33.74, 'Mesquite'),
 (33.037, 'Norman'),
 (30.833, 'Washington'),
 (29.141, 'Stamford'),
 (30.328, 'Baton Rouge'),
 (31.292, 'Nashville'),
 (30.918, 'Corpus Christi'),
 (33.324, 'Orlando'),
 (20.279, 'Salem'),
 (29.567, 'Omaha'),
 (29.567, 'Lincoln'),
 (30.591, 'San Bernardino'),
 (24.511, 'Thornton'),
 (30.533, 'Beaumont'),
 (25.688, 'Green Bay'),
 (24.511, 'Colorado Springs'),
 (31.475, 'Durham'),
 (33.74, 'Denton'),
 (29.832, 'Cincinnati'),
 (29.141, 'Edison'),
 (31.292, 'Clarksville'),
 (31.457, 'Evansville'),
 (28.531, 'El Paso'),
 (27.152, 'Sioux Falls'),
 (22.465, 'Hayward'),
 (23.106, 'Irvine'),
 (29.141, 'Allentown'),
 (32.308, 'Charlotte'),
 (24.511, 'Westminster'),
 (30.362, 'Overland Park'),
 (23.106, 'Huntington Beach'),
 (27.751, 'Lowell'),
 (31.64, 'Wichita'),
 (29.569, 'Brownsville'),
 (29.649, 'Mobile'),
 (31.694, 'Richmond'),
 (23.106, 'Garden Grove'),
 (31.475, 'Greensboro'),
 (30.653, 'Amarillo'),
 (23.404, 'Salinas'),
 (22.465, 'Sunnyvale'),
 (23.106, 'Santa Ana'),
 (28.597, 'Akron'),
 (28.313, 'Flint'),
 (32.941, 'Gainesville'),
 (32.606, 'Paradise'),
 (32.738, 'Saint Petersburg'),
 (28.889, 'Toledo'),
 (27.358, 'Syracuse'),
 (32.657, 'Waco'),
 (26.264, 'Saint Paul'),
 (34.379, 'Chandler'),
 (27.336, 'Inglewood'),
 (27.981, 'Grand Rapids'),
 (24.511, 'Lakewood'),
 (27.336, 'Palmdale'),
 (22.465, 'Fremont'),
 (32.37, 'Memphis'),
 (30.591, 'Moreno Valley'),
 (34.379, 'Phoenix'),
 (30.134, 'Port Saint Lucie'),
 (22.465, 'San Francisco'),
 (22.465, 'Vallejo'),
 (22.862, 'Spokane'),
 (32.992, 'Oklahoma City'),
 (29.044, 'Fort Wayne'),
 (30.447, 'Toms River'),
 (30.096, 'Lafayette'),
 (33.778, 'Wichita Falls'),
 (32.606, 'Las Vegas'),
 (25.688, 'Albuquerque'),
 (30.134, 'Miami'),
 (31.681, 'Virginia Beach'),
 (28.597, 'Cleveland'),
 (31.681, 'Norfolk'),
 (23.106, 'Costa Mesa'),
 (30.591, 'Fontana'),
 (30.134, 'Pembroke Pines'),
 (32.534, 'Montgomery'),
 (27.336, 'Thousand Oaks'),
 (18.723, 'Portland'),
 (27.336, 'El Monte'),
 (34.379, 'Gilbert'),
 (30.62, 'Topeka'),
 (33.74, 'Dallas'),
 (33.74, 'Arlington'),
 (33.74, 'Garland'),
 (27.353, 'Rochester'),
 (32.606, 'Sunrise Manor'),
 (23.106, 'Oceanside'),
 (18.416, 'Bellevue'),
 (29.194, 'Nogales'),
 (29.141, 'Paterson'),
 (33.74, 'Plano'),
 (32.308, 'Columbia'),
 (32.487, 'Laredo'),
 (30.591, 'Rialto'),
 (30.447, 'Philadelphia'),
 (22.465, 'Santa Rosa'),
 (27.751, 'Worcester'),
 (22.465, 'Stockton'),
 (29.72, 'Dayton'),
 (32.738, 'Clearwater'),
 (28.896, 'Visalia'),
 (28.313, 'Windsor'),
 (31.681, 'Chesapeake'),
 (32.487, 'Nuevo Laredo'),
 (28.313, 'Detroit'),
 (28.465, 'Bridgeport'),
 (30.134, 'Fort Lauderdale'),
 (30.732, 'Lexington Fayette'),
 (34.379, 'Mesa'),
 (28.465, 'Waterbury'),
 (28.128, 'Madison'),
 (29.141, 'Newark'),
 (30.591, 'Riverside'),
 (29.582, 'Knoxville'),
 (24.163, 'Fort Collins'),
 (33.74, 'Grand Prairie'),
 (30.362, 'Independence'),
 (32.581, 'Jacksonville'),
 (31.298, 'Chattanooga'),
 (28.465, 'Hartford'),
 (30.322, 'Little Rock'),
 (24.157, 'Reno'),
 (34.379, 'Scottsdale'),
 (33.74, 'Irving'),
 (29.141, 'Yonkers'),
 (29.679, 'Des Moines'),
 (30.833, 'Baltimore'),
 (31.518, 'Pasadena'),
 (28.313, 'Sterling Heights'),
 (16.75, 'Arvada'),
 (31.475, 'Cary'),
 (30.732, 'Louisville'),
 (27.751, 'Providence'),
 (22.465, 'Concord'),
 (30.239, 'Atlanta'),
 (34.379, 'Peoria'),
 (22.465, 'Sacramento'),
 (18.416, 'Seattle'),
 (30.134, 'Hollywood'),
 (30.66, 'Springfield'),
 (28.896, 'Bakersfield'),
 (27.257, 'West Valley City'),
 (27.336, 'West Covina'),
 (32.893, 'Charleston'),
 (23.106, 'Orange'),
 (31.885, 'Tulsa'),
 (23.106, 'Long Beach'),
 (30.328, 'New Orleans'),
 (31.215, 'Shreveport'),
 (32.606, 'Spring Valley'),
 (31.681, 'Hampton'),
 (32.606, 'Henderson'),
 (29.141, 'Jersey City'),
 (28.597, 'Pittsburgh'),
 (30.328, 'Metairie'),
 (22.465, 'Santa Clara'),
 (28.313, 'Warren'),
 (32.525, 'Tallahassee'),
 (29.334, 'Naperville'),
 (22.465, 'San Jose'),
 (27.336, 'Los Angeles'),
 (31.298, 'Huntsville'),
 (27.751, 'Cambridge'),
 (28.368, 'Cedar Rapids'),
 (30.66, 'Saint Louis'),
 (22.465, 'Berkeley'),
 (33.74, 'Fort Worth'),
 (24.157, 'Roseville'),
 (32.166, 'San Antonio'),
 (22.465, 'Oakland'),
 (32.116, 'Columbus'),
 (28.465, 'New Haven'),
 (22.465, 'Antioch'),
 (30.15, 'Jackson'),
 (27.336, 'Oxnard'),
 (14.501, 'Anchorage'),
 (29.334, 'Joliet'),
 (30.591, 'Rancho Cucamonga'),
 (27.336, 'Simi Valley'),
 (29.141, 'New York'),
 (33.74, 'Carrollton'),
 (29.141, 'Elizabeth'),
 (29.044, 'South Bend'),
 (27.799, 'Chicago'),
 (27.751, 'Boston'),
 (27.336, 'East Los Angeles'),
 (30.62, 'Olathe'),
 (32.166, 'Austin'),
 (32.753, 'Fayetteville'),
 (27.336, 'Downey'),
 (27.799, 'Milwaukee'),
 (31.475, 'Raleigh'),
 (32.11, 'Abilene'),
 (27.336, 'Norwalk'),
 (32.657, 'Killeen'),
 (26.264, 'Minneapolis'),
 (29.194, 'Tucson'),
 (33.74, 'Richardson'),
 (27.336, 'Santa Clarita'),
 (31.475, 'Winston Salem'),
 (23.106, 'Fullerton'),
 (27.336, 'Lancaster'),
 (27.353, 'Buffalo'),
 (20.279, 'Eugene')]

In [25]:
%sql select iata, port_city, port_state,count(*) from immigrations i join ports p on p.port_code=i.iata join   group by iata, port_city, port_state order by count(*) desc limit 10

 * postgresql://student:***@127.0.0.1/sparkifydb
10 rows affected.

[(27.0, 2016.0, 4.0, 101.0, 101.0, 'BOS', '1956-03-31 00:00:00', 1.0, 'MA', '1956-04-04 00:00:00', 58.0, 1.0, 1.0, '20160401', 'G', 'O', 'M', 1958.0, '04062016', 'M', 'LH', 92478763830.0, '00422', 'B1'),
 (28.0, 2016.0, 4.0, 101.0, 101.0, 'ATL', '1956-03-31 00:00:00', 1.0, 'MA', '1956-04-04 00:00:00', 56.0, 1.0, 1.0, '20160401', 'G', 'O', 'M', 1960.0, '04062016', 'F', 'LH', 92478900330.0, '00422', 'B1'),
 (29.0, 2016.0, 4.0, 101.0, 101.0, 'ATL', '1956-03-31 00:00:00', 1.0, 'MA', '1956-04-16 00:00:00', 62.0, 2.0, 1.0, '20160401', 'G', 'O', 'M', 1954.0, '09302016', 'M', 'AZ', 92503781430.0, '00614', 'B2'),
 (30.0, 2016.0, 4.0, 101.0, 101.0, 'ATL', '1956-03-31 00:00:00', 1.0, 'NJ', '1956-05-03 00:00:00', 49.0, 2.0, 1.0, '20160401', 'G', 'O', 'M', 1967.0, '09302016', 'M', 'OS', 92470209430.0, '00089', 'B2'),
 (31.0, 2016.0, 4.0, 101.0, 101.0, 'ATL', '1956-03-31 00:00:00', 1.0, 'NY', '1956-06-05 00:00:00', 43.0, 2.0, 1.0, '20160401', 'G', 'O', 'M', 1973.0, '09302016', 'M', 'OS', 92471289230.0, '00089', 'B2'),
 (33.0, 2016.0, 4.0, 101.0, 101.0, 'HOU', '1956-03-31 00:00:00', 1.0, 'TX', '1956-04-09 00:00:00', 53.0, 2.0, 1.0, '20160401', 'G', 'O', 'M', 1963.0, '09302016', 'F', 'TK', 92509301630.0, '00033', 'B2'),
 (36.0, 2016.0, 4.0, 101.0, 101.0, 'NYC', '1956-03-31 00:00:00', 1.0, 'NJ', '1956-04-16 00:00:00', 37.0, 2.0, 1.0, '20160401', 'G', 'O', 'M', 1979.0, '09302016', 'M', 'TK', 92506258230.0, '00001', 'B2'),
 (37.0, 2016.0, 4.0, 101.0, 101.0, 'NYC', '1956-03-31 00:00:00', 1.0, 'NJ', '1956-04-22 00:00:00', 49.0, 2.0, 1.0, '20160401', 'G', 'O', 'M', 1967.0, '09302016', 'F', 'AZ', 92475617830.0, '00608', 'B2'),
 (38.0, 2016.0, 4.0, 101.0, 101.0, 'NYC', '1956-03-31 00:00:00', 1.0, 'NY', '1956-04-30 00:00:00', 33.0, 2.0, 1.0, '20160401', 'G', 'O', 'M', 1983.0, '09302016', 'M', 'AZ', 92486092530.0, '00608', 'B2'),
 (39.0, 2016.0, 4.0, 101.0, 101.0, 'MIA', '1956-03-31 00:00:00', 1.0, 'FL', '1956-04-29 00:00:00', 65.0, 2.0, 1.0, '20160401', 'G', 'O', 'M', 1951.0, '09302016', 'F', 'TK', 92507662630.0, '00077', 'B2')]

In [17]:
import pandas as pd
import datetime as dt

player_list = [20573.0,20551.0,20545.0]
  
# creating a pandas dataframe
df = pd.DataFrame(player_list,columns=['Dates'])



#df['Dates'] = pd.to_datetime(df['Dates'], format='%Y%m%d') 
df['Dates'] = pd.TimedeltaIndex(df['Dates'], unit='d') + dt.datetime(1899, 12, 30)

print(df)

       Dates
0 1956-04-28
1 1956-04-06
2 1956-03-31

In [29]:
%sql select count(*) from temperature

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(661524,)]